export OPENSHIFT_API='https://master.ose.cloud.net'
export OPENSHIFT_TOKEN=
export MAX_QUOTA_CPU=30
export MAX_QUOTA_MEMORY=50
export MAX_VOLUME_GB=100
export LDAP_URL=ldapi.firm.ch
export LDAP_BIND_DN='cn=Manager,ou=users,dc=firm,dc=CH'
export LDAP_BIND_CRED=administrator
export LDAP_FILTER='(cn=%s)'
export SESSION_KEY=
export LDAP_SEARCH_BASE=
export GIN_MODE=release
export GLUSTER_API_URL='http://firm.ch:2000'
export GLUSTER_SECRET=
export GLUSTER_IPS=
export AWS_S3_BUCKET_PREFIX=
export AWS_NONPROD_SECRET_ACCESS_KEY=
export AWS_REGION=eu-central-1
export AWS_PROD_ACCESS_KEY_ID=
export AWS_PROD_SECRET_ACCESS_KEY=
export AWS_NONPROD_ACCESS_KEY_ID=
export SEMATEXT_API_TOKEN=
export SEMATEXT_BASE_URL='https://apps.eu.sematext.com/'
export JENKINS_URL='http://jenkins.yourorg.com'
export WZUBACKEND_URL=
export WZUBACKEND_SECRET=

# export https_proxy=
